html{
	margin: 0 0 0 0;
}
body{
	margin: 0;
	overflow: hidden;
}
a{
	color: white;
}
#iphone{
	margin: auto;
	background-image:url('../images/iphone.png'); 
	width:387px; 
	height:800px;

}
#iphone-embeded{
	width:320px; height:568px; margin-top:117px; margin-left:34px;
	padding: 0 0 0 0;
	border: none;
}
.iphone-container{
	position: relative;
	left: 0px;
	width: 320px;
	height: 548px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
}
.blur{
	-webkit-filter: blur(6px);
}
.status-bar{
	z-index: 2;
	position: relative;
	width: 320px;
	height: 20px;
}
.status-bar img{
	width: 320px;
	height: 20px;
}
.header{
	position: relative;
	width: 320px;
	height: 44px;
	background: #007DB1;
	-moz-box-shadow:    0px 1px 2px 0px rgba(51,51,51,0.40);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(51,51,51,0.40);
	box-shadow:         0px 1px 2px 0px rgba(51,51,51,0.40);
}
.header .list-btn{
	float: left;
	width: 32px;
	height: 32px;
	background-image: url('../images/list.png');
	margin:6px auto 6px 10px;
}
.header p{
	float: left;
	margin: 15px auto 10px 95px;
	font-size: 17px;
	font-family:Helvetica;
	font-weight: 500;
	text-align: center;
	color: white;
}
.content-container{
	width: 320px;
	height: 455px;
}

#page-worm{
	display: block;
	background: #FFFFFF;
}
#page-worm .info{
	width: 320px;
	height: 49px;
	margin: 0 0 0 0;
	border-bottom: 1px solid #eeeeee;
	padding: 0 0 0 0;
}
#page-worm .info .infotitle{
	float: left;
	font-family: .LucidaGrandeUI;
	font-size: 15px;
	color: #5C5C5C;
	margin: 15px auto auto 20px;
}
#page-worm .info .infotext{
	padding: 9px 20px 9px 20px;
	border-radius: 10px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
	float: right;
	margin: 8px 20px auto auto;
}
#page-worm .pic-worm{
	width: 320px;
	height: 140px;
	margin-top: 20px;
}
#page-worm .pic-worm img{
	width: 280px;
	height: 140px;
	margin-left: 20px;
}
#page-worm .quote-worm{
	position: absolute;
	right: 40px;
	top: 340px;
	color: white;
	font-size: 12px;
	font-weight: 200;
	width: 80px;
	height: 60px;
}
#page-worm .add-food{
	width: 154px;
	height: 30px;
	position: absolute;
	top: 420px;
	right: 20px;
}

#page-worm .add-food p{
	float: left;
	font-size: 12px;
	margin-right: 0;
}
#page-worm .add-food .btn-feed{
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
	float: right;
	margin: 8px 0 auto auto;
}

.orange{
	background: #F5A623;
}
.blue{
	background: #70BDF9;
}	
.green{
	background: #7ACF18;
}
.deepblue{
	background: #3892E3;
}
.red{
	background: #F97070;
}
/*Footer Tab*/
.footer-tab{
	position: absolute;
	z-index: 2;
	left: 0px;
	top: 519px;
	width: 320px;
	height: 49px;
	background: rgba(0,125,177,1);
	-moz-box-shadow:    0px 1px 2px 0px rgba(51,51,51,0.40);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(51,51,51,0.40);
	box-shadow:         0px 1px 2px 0px rgba(51,51,51,0.40);	
	color: white;
	font-size: 15px;
	text-align: center;
	padding-left: 0px;
}
.footer-tab .tab{
	float: left;
	margin-left: 5px;
	padding-top: 5px;
	width: 55px;
	height: 100%;
}
.footer-tab .circle-tab{
	z-index: 13;
	margin:-20px 0px auto 5px;
	background-color: #007DB1;
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 4px solid rgba(255,255,255,0.8);
}
.footer-tab .tab img{
	width: 20px;
	height: 20px;
	margin-top: 1px;
}
.footer-tab .tab p{
	margin-top: 1px;
	font-size: 12px;
	font-weight: 200;
}

.footer-tab .circle-tab img{
	width: 24px;
	height: 24px;
	margin-top: 10px;
}
.footer-tab .circle-tab p{
	margin-top: 5px;
	font-size: 12px;
}

.hidden-menu{
	z-index: 1;
	position: absolute;
	float: left;
	left: -200px;
	top: 0px;
	width: 200px;
	height: 568px;
	background-image: linear-gradient(to bottom, rgba(119,79,210,0.25), rgba(119,79,210,0.25)),url(../images/bg.jpg) ;
}
.hidden-menu .avatar{
	margin: 40px auto 0px auto;
	width: 64px;
	height: 64px;
}
.hidden-menu .avatar img{
	width: 56px;
	height: 56px;
	border-radius: 64px;
	border: 3px solid rgba(200,200,200,0.3);
}
.hidden-menu .user-name{
	font-size: 16px;
	text-align: center;
	font-family: HelveticaNeue;
	color: #FFFFFF;
	line-height: 22px;
	font-weight: 200;
	height: 30px;
	border-bottom: 1px solid rgba(200,200,200,0.2);
}

.hidden-menu .menu{
	font-size: 14px;
	text-align: left;
	padding-left: 20px;
	font-family: HelveticaNeue;
	color: #FFFFFF;
	line-height: 40px;
	font-weight: 200;
}
.hidden-menu .selected{
	background: rgba(255,255,255,0.15);
	-moz-box-shadow:    0px -1px 0px 0px rgba(255,255,255,0.20);
	-webkit-box-shadow: 0px -1px 0px 0px rgba(255,255,255,0.20);
	box-shadow:         0px -1px 0px 0px rgba(255,255,255,0.20);;
}

.blur-bg{
	z-index: 10;
	width: 320px;
	height: 546px;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	background: rgba(220,220,220,0.6);
}

.start-booklist{
	z-index: 11;
}
.start-booklist .start-book{
	position: absolute;
	width: 70px;
	height: 85px;
	text-align: center;
	top:600px;
}
.start-booklist .start-book	img{
	width: 50px;
	height: 70px;
	margin:10px 10px 0px 10px;
}
.start-booklist .start-book p{
	font-size: 10px;
	margin:10px 10px 10px 10px;
}


























/*.flip {
  	-webkit-perspective: 800;
    position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: rgba(242,242,242,1);
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: rgba(242,242,242,1);
    color: black;
    cursor: pointer;
}*/


