html{
	margin: 0 0 0 0;
}
body{
	margin: 0;
	overflow: hidden;
}
a{
	color: white;
}
::-webkit-scrollbar { 
    display: none; 
}
#iphone{
	margin: auto;
	background-image:url('../images/iphone.png'); 
	width:387px; 
	height:800px;

}
#iphone-embeded{
	width:320px; height:568px; margin-top:117px; margin-left:34px;
	padding: 0 0 0 0;
	border: none;
}
.iphone-container{
	position: relative;
	left: 0px;
	width: 320px;
	height: 548px;
	background-color: rgba(255,255,255,1);
}
.blur{
	-webkit-filter: blur(6px);
}
.status-bar{
	z-index: 2;
	position: relative;
	width: 320px;
	height: 20px;
}
.status-bar img{
	width: 320px;
	height: 20px;
}
.header{
	position: relative;
	width: 320px;
	height: 44px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.header .list-btn{
	float: left;
	width: 32px;
	height: 32px;
	background-image: url('../images/list.png');
	margin:6px 0px 6px 10px;
}
.header .add-btn{
	position: relative;
	float: right;
	width: 20px;
	height: 20px;
	background-image: url('../images/add.png');
	margin:12px 10px 12px 0px;
}
.header .exit-btn{
	position: relative;
	float: right;
	display:none;
	width: 20px;
	height: 20px;
	background-image: url('../images/exit.png');
	margin:12px 10px 12px 0px;
}
.header .title{
	float: left;
	margin: 0 0 0 0;
	height: 31px;
	width: 246px;
	text-align: center;
	padding-top: 13px;
	font-size: 18px;
	font-family:Helvetica;
	font-weight: 500;
	color: white;
}
.content-container{
	width: 320px;
	height: 455px;
	overflow-y: scroll;
	overflow-x:hidden;
}
/*Page for library*/
#page-lib{
	display: block;
	background: #FFFFFF;
	width: 320px;
	height: 540px;
	overflow-y:scroll;
}

.lib-row{
	background: -moz-linear-gradient(top,  #fafafa 0%, #d4d4d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#d4d4d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#d4d4d4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#d4d4d4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
	width: 320px;
	height: 135px;
}
.lib-row .lib-book{
	float: left;
	width: 80px;
	height: 110px;
	margin: 24px 0 0 20px;
	padding: 0 0 0 0;
}
.lib-row .lib-book img{
	width: 80px;
	height: 110px;

}

.tab-bar{
	width: 320px;
	height: 40px;
	background:  #fafafa;
}
.first-tab, .second-tab, .third-tab{
	width: 97px;
	height: 25px;
	background-color: white;
	border: 1px solid rgb(161,160,163);
	margin:15px 0 0 0;
	float: left;
	font-size: 12px;
	text-align: center;
	color: rgb(124,123,131);
}
.first-tab p, .second-tab p , .third-tab p{
	margin-top: 5px;
}
.tab-bar-selected{
	background: rgb(124,123,131);
	color: white;
}
.first-tab{
	margin-left: 10px;
	border-radius: 5px 0 0 5px;
}
.third-tab{
	border-radius: 0 5px 5px 0;
}
#mybook{
	display: block;
}
#suggestion,#wishlist{
	display: none;
}
/*Page for library end*/

/*Page for newsfeed start*/
#page-news{
	width: 320px;
	background: rgb(230,230,230);
	display: none;
}
#page-news .my-background{
	position: absolute;
	top: 44;
	left: 0;
	width: 320px;
	height: 80px;
	background: url(../images/bg.jpg);
}
#page-news .my-pic img{
	z-index: 10;
	position: absolute;
	top: 84px;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 1px solid #eeeeee;
}

#page-news .newsfeed{
	width: 320px;
	height: 355px;
	overflow-y:scroll;
	position: absolute;
	top: 124px;
	left: 0;
	background-color: rgb(238,238,238);
	padding-top: 20px;
}
#page-news .newsfeed .feeds{
	width: 300px;
	margin: 10px 10px 10px 10px;
	min-height: 100px;
	border-radius: 10px;
	border: 2px solid #eeeeee;
	background-color: white;
}
#page-news .newsfeed .feeds .user-pic{
	float: left;
	width: 30px;
	height: 60px;
	margin: 10px 10px 10px 10px;
}
#page-news .newsfeed .feeds .user-pic .user-profile-pic{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 2px solid #eeeeee;
}
#page-news .newsfeed .feeds .user-pic p{
	text-align: center;
	margin-top: 0;
	float: left;
	width: 30px;
	font-size: 10px;
	margin-bottom: 0;
}
#page-news .newsfeed .feeds .user-pic .user-feel{
	float: left;
	width: 25px;
	height: 25px;
	margin: 5px 5px 5px 5px;
}
#page-news .newsfeed .feeds .user-text{
	float: left;
	width: 170px;
	min-height: 50px;
	max-height: 200px;
	margin: 0px 0px 10px 10px;
	overflow: hidden;
}
#page-news .newsfeed .feeds .user-text p{
	float: left;
	width:180px;
	font-size: 12px;
	font-weight: 300;
	margin: 10px 0 0 0;
	color: #333333;
}
#page-news .newsfeed .feeds .user-book{
	float: right;
	width: 40px;
	height: auto;
	margin: 10px 10px 10px 10px;
}
#page-news .newsfeed .feeds .user-book img{
	float: right;
	width: 40px;
	height: auto;
	margin: 0 0 0 0px;
}
#page-news .newsfeed .feeds .user-book p{
	float: right;
	width: 40px;
	margin: 0 0 0 0px;
	font-size: 10px;
}
/*Page for newsfeed end*/

/*Page for bookworm start*/
#page-worm{
	background: #eeeeee;
	width: 320px;
	height: 445px;
	display: none;
	padding-top: 10px;
	overflow-y: hidden;
}
#page-worm .worm-block{
	margin: 0px 10px auto 10px;
	width: 300px;
	height: 430px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: white;
	overflow-y: hidden;
}
#page-worm .info{
	width: 300px;
	height: 49px;
	margin: 0 0 0 0;
	border-bottom: 1px solid #dddddd;
	padding: 0 0 0 0;
}
#page-worm .info .infotitle{
	float: left;
	font-family: .LucidaGrandeUI;
	font-size: 15px;
	color: #5C5C5C;
	margin: 15px auto auto 20px;
}
#page-worm .info .infotext{
	padding: 9px 20px 9px 20px;
	border-radius: 10px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
	float: right;
	margin: 8px 20px auto auto;
}
#page-worm .info .status-notice{
	float: left;
}
#page-worm .info .status-notice p{
	margin: 13px 10px 10px 100px;
	font-size: 18px;
	color: #888888;
}
#page-worm .pic-worm{
	width: 320px;
	height: 140px;
	margin-top: 20px;
}
#page-worm .pic-worm img{
	width: 280px;
	height: 140px;
	margin-left: 20px;
}
#page-worm .quote-worm{
	position: absolute;
	right: 31px;
	top: 344px;
	color: white;
	font-size: 12px;
	font-weight: 200;
	width: 80px;
	height: 60px;
}
#page-worm .add-food{
	width: 154px;
	height: 30px;
	position: absolute;
	top: 420px;
	right: 20px;
}

#page-worm .add-food p{
	float: left;
	font-size: 12px;
	margin-right: 0;
}
#page-worm .add-food .btn-feed{
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
	float: right;
	margin: 8px 0 auto auto;
}
#page-worm .food{
	width: 8px;
	height: 8px;
	position: absolute;
	top:16;
	right: 48px;
	background-color:#70BDF9;
}
.orange{
	background: #F5A623;
}
.blue{
	background: #70BDF9;
}	
.green{
	background: #7ACF18;
}
.deepblue{
	background: #3892E3;
}
.red{
	background: #F97070;
}
/*Page for bookworm End*/

/*Page for profile Start*/
#page-profile{
	width: 320px;
	height: 500;
	display: none;
	background: #eeeeee;
}
#page-profile .user-background{
	width: 320px;
	height: 150px;
	position: absolute;
	top: 44;
	left: 0;
	background: url(../images/bg.jpg);
}
#page-profile .user-pic{
	width: 320px;
	height: 60px;
	position: absolute;
	text-align: center;
	top: 64px;
}
#page-profile .user-pic img{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 1px solid #eeeeee;
}
#page-profile .user-info{
	position: absolute;
	width: 320px;
	height: 60px;
	margin-top:10px;
	text-align: center;
	top: 114px;
}
#page-profile .user-info p{
	font-size: 12px;
	color: white;
	text-align: center;
	margin: 5px auto 5px auto;
}
#page-profile .user-info .username{
	font-size: 16px;
}
#page-profile .btn-badges{
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
	font-size: 14px;
	background: #3DA4CC;
	width: 300px;
	height: 25px;
	border-radius: 5px;
	text-align: center;
	top: 160px;
	position: relative;
}
#page-profile .badges{
	float: left;
	margin: 170px 10px auto 10px;
	width: 300px;
	height: 230px;
	background: white;
	border-radius: 5px;
	border: 1px solid #dddddd;
}
#page-profile .badges .badge-icon{
	background-image: url(../images/badges.png);
	width: 55px;
	height: 55px;
	border-radius: 55px;
	border: 1px solid #dddddd;
	float: left;
	margin:14px 0px 0px 14px;
}
/*Page for profile End*/

/*Page for book start*/
#page-book{
	width: 320px;
	height: 500px;
	display: none;
	background: #eeeeee;
	overflow-y: scroll;
	overflow-x:hidden;
}
#page-book .book-block{
	width: 300px;
	background: white;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	height: 200px;
}
#page-book .book-pic{
	float: left;
	width: 60px;
	height: 100px;
	margin:20px 20px 20px 20px;
}
#page-book .book-pic img{
	width: 80px;
	height: 120px;
}
#page-book .book-info{
	float: left;
	width: 160px;
	/*height: 200px;*/
	margin: 20px 20px 10px 20px;
}
#page-book .book-info .book-name{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

#page-book .book-info .progress {
/*overflow: hidden;*/
height: 16px;
margin-bottom: 5px;
background-color: #cccccc;
border-radius: 8px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#page-book .book-info .progress-bar{
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}
#page-book .book-info .progress-percent{
	margin-left: 10px;
	margin-top: -1px;
	float: left;
	font-size: 10px;
}
#page-book .book-info .author{
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-bottom: 5px;
}
#page-book .book-info .description{
	font-size: 12px;
	font-weight: 300;
	float: left;
}
#page-book .book-rate{
	float: left;
	width: 150px;
	height: 30px;
	padding-left: 10px;
}
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
#page-book .btn-recommend{
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
	float: left;
	margin: 0px auto auto 20px;
}
#page-book .newsfeed{
	width: 300px;
	background: white;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	height: 500px;
}

#page-book .newsfeed .feeds{
	width: 280px;
	margin: 10px 10px 10px 10px;
	min-height: 100px;
	border-radius: 5px;
	border: 2px solid #eeeeee;
	background-color: white;
}
#page-book .newsfeed .feeds .user-pic{
	float: left;
	width: 30px;
	height: 60px;
	margin: 10px 10px 10px 10px;
}
#page-book .newsfeed .feeds .user-pic .user-profile-pic{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 2px solid #eeeeee;
}
#page-book .newsfeed .feeds .user-pic p{
	text-align: center;
	margin-top: 0;
	float: left;
	width: 30px;
	font-size: 10px;
	margin-bottom: 0;
}
#page-book .newsfeed .feeds .user-pic .user-feel{
	float: left;
	width: 25px;
	height: 25px;
	margin: 5px 5px 5px 5px;
}
#page-book .newsfeed .feeds .user-text{
	float: left;
	width: 220px;
	min-height: 50px;
	max-height: 200px;
	margin: 10px 0px 10px 10px;
	overflow: hidden;
}
#page-book .newsfeed .feeds .user-text p{
	float: left;
	width:220px;
	font-size: 12px;
	font-weight: 300;
	margin: 0px 0 20px 0;
	color: #333333;
}

/*Page for book end*/

/*Page for addbook end*/
#page-addbook{
	display: none;
	background: #eeeeee;
	width: 320px;
	height: 458px;
	padding-top: 10px;
}
#page-addbook .addbook-block{
	width: 300px;
	background: white;
	margin: 0px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	height: 310px;
}
#page-addbook .addbook-pic{
	float: left;
	width: 100px;
	height: 100px;
	padding: 20px 20px 40px 20px;
}
#page-addbook .addbook-pic img{
	width: 100%;
	height: 100%;
}
#page-addbook input[type='text']{
	float: left;
	margin: 20px 0px 0px 0px;
	width: 140px;
	height: 30px;
	font-size: 12px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #eeeee;
}
#page-addbook .btn-scan{
	width: 80%;
	text-align: center;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-family: .LucidaGrandeUI;
	font-size: 14px;
	color: #FFFFFF;
	float: left;
	margin: 20px auto 20px 20px;
}
#page-addbook .addbook-or{
	float: left;
	width: 100%;
	text-align: center;
	margin: 0px 0 0px 0;
	font-size: 14px;
	color: #dddddd;
}
/*Page for addbook end*/

/*Page for bookclub start*/
#page-club{
	width: 320px;
	height: 690px;
	display: none;
	background: #eeeeee;
	padding-top: 10px;
}
#page-club .club-block{
	width: 300px;
	height: 680px;
	background: white;
	border-radius: 5px;
	border: 1px solid #dddddd;
	margin-left: 10px;
}
.club-block .club-rect{
	float: left;
	width: 280px;
	height: 145px;
	margin: 20px 20px 20px 20px;
}
.club-block .club-rect img{
	width: 260px;
	height: auto;
	border-radius: 5px;
}
.club-block .club-name{
	float: left;
	width: 280px;
	height: 30px;
	margin: 0px 0px 10px 0px;
	text-align: center;
	font-size: 16px;
	font-weight: 800;
	border-bottom: 1px solid #eeeeee;
}

#page-clubinfo{
	width: 320px;
	height: 650px;
	display: none;
	background: #eeeeee;
	padding-top: 10px;
}
#page-clubinfo .club-block{
	width: 300px;
	height: 630px;
	background: white;
	border-radius: 5px;
	border: 1px solid #dddddd;
	margin-left: 10px;
}
#page-clubinfo .club-block .club-book{
	float: left;
	width: 60px;
	height: 80px;
	margin:20px 20px 0px 20px;
}
#page-clubinfo .club-block .club-book img{
	width: 60px;
	height: 80px;
}
#page-clubinfo .club-block .club-name{
	float: left;
	width: 170px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}
#page-clubinfo .club-block .club-member{
	float: left;
	width: 170px;
	height: 40px;
	margin-top: 0;
}
#page-clubinfo .club-block .club-member img{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border:1px solid #eeeeee;
	margin: 0px 5px 10px 5px;
}

#page-clubinfo .club-block .feeds{
	float: left;
	width: 280px;
	margin: 10px 10px 10px 10px;
	min-height: 100px;
	border-radius: 5px;
	border: 2px solid #eeeeee;
	background-color: white;
}
#page-clubinfo .club-block .feeds .user-pic{
	float: left;
	width: 30px;
	height: 60px;
	margin: 10px 10px 10px 10px;
}
#page-clubinfo .club-block .feeds .user-pic .user-profile-pic{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 2px solid #eeeeee;
}
#page-clubinfo .club-block .feeds .user-pic p{
	text-align: center;
	margin-top: 0;
	float: left;
	width: 30px;
	font-size: 10px;
	margin-bottom: 0;
}
#page-clubinfo .club-block .feeds .user-pic .user-feel{
	float: left;
	width: 25px;
	height: 25px;
	margin: 5px 5px 5px 5px;
}



#page-clubinfo .club-block .feeds .user-text{
	float: left;
	width: 220px;
	min-height: 50px;
	max-height: 200px;
	margin: 10px 0px 10px 10px;
	overflow: hidden;
}
#page-clubinfo .club-block .feeds .user-text p{
	float: left;
	width:220px;
	font-size: 12px;
	font-weight: 300;
	margin: 0px 0 20px 0;
	color: #333333;
}


/*Page for bookclub end*/

/*Footer Tab*/
.footer-tab{
	position: absolute;
	z-index: 2;
	left: 0px;
	top: 519px;
	width: 320px;
	height: 49px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	color: white;
	font-size: 15px;
	text-align: center;
	padding-left: 0px;
}
.footer-tab .tab{
	float: left;
	margin-left: 5px;
	padding-top: 5px;
	width: 55px;
	height: 45px;
}

.tab-selected{
	background-color: rgba(200,200,200,0.5);
}

.footer-tab .circle-tab{
	z-index: 13;
	margin:-20px 0px auto 5px;
	background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	float: left;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 2px solid rgba(255,255,255,1);
}
.footer-tab .tab img{
	width: 20px;
	height: 20px;
	margin-top: 1px;
}
.footer-tab .tab p{
	margin-top: 1px;
	font-size: 10px;
	font-weight: 100;
}

.footer-tab .circle-tab img{
	width: 24px;
	height: 24px;
	margin-top: 10px;
}
.footer-tab .circle-tab p{
	margin-top: 5px;
	font-size: 12px;
}

.hidden-menu{
	z-index: 101;
	position: absolute;
	float: left;
	left: -200px;
	top: 0px;
	width: 200px;
	height: 568px;
	background-image: linear-gradient(to bottom, rgba(119,79,210,0.25), rgba(119,79,210,0.25)),url(../images/bg.jpg) ;
}
.hidden-menu .avatar{
	margin: 40px auto 0px auto;
	width: 64px;
	height: 64px;
}
.hidden-menu .avatar img{
	width: 56px;
	height: 56px;
	border-radius: 64px;
	border: 3px solid rgba(200,200,200,0.3);
}
.hidden-menu .user-name{
	font-size: 16px;
	text-align: center;
	font-family: HelveticaNeue;
	color: #FFFFFF;
	line-height: 22px;
	font-weight: 200;
	height: 30px;
	border-bottom: 1px solid rgba(200,200,200,0.2);
}

.hidden-menu .menu{
	font-size: 14px;
	text-align: left;
	padding-left: 20px;
	font-family: HelveticaNeue;
	color: #FFFFFF;
	line-height: 40px;
	font-weight: 200;
}
.hidden-menu .selected{
	background: rgba(255,255,255,0.15);
	-moz-box-shadow:    0px -1px 0px 0px rgba(255,255,255,0.20);
	-webkit-box-shadow: 0px -1px 0px 0px rgba(255,255,255,0.20);
	box-shadow:         0px -1px 0px 0px rgba(255,255,255,0.20);;
}

.blur-bg{
	z-index: 10;
	width: 320px;
	height: 546px;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	background: rgba(220,220,220,0.6);
}

.start-booklist{
	z-index: 11;
}
.start-booklist .start-book{
	position: absolute;
	width: 70px;
	height: 85px;
	text-align: center;
	top:600px;
}
.start-booklist .start-book	img{
	width: 50px;
	height: 70px;
	margin:10px 10px 0px 10px;
}
.start-booklist .start-book p{
	font-size: 10px;
	margin:10px 10px 10px 10px;
}


/*Page for read start*/
#page-read{
	width: 320px;
	height: 505px;
	display: block;
	background: #eeeeee;
	overflow-y: hidden;
	overflow-x:hidden;
	z-index: 3;
	position: absolute;
	top: 570px;
	left: 0px;
}
.page-read-scroll{
	overflow-y:scroll;
	height: 500px;
}
#page-read .book-block{
	width: 300px;
	background: white;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	height: 200px;
}
#page-read .book-pic{
	float: left;
	width: 60px;
	height: 100px;
	margin:20px 20px 20px 20px;
}
#page-read .book-pic img{
	width: 80px;
	height: 120px;
}
#page-read .book-info{
	float: left;
	width: 160px;
	/*height: 200px;*/
	margin: 20px 20px 10px 20px;
}
#page-read .book-info .book-name{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

#page-read .book-info .progress {
/*overflow: hidden;*/
height: 16px;
margin-bottom: 5px;
background-color: #cccccc;
border-radius: 8px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#page-read .book-info .progress-bar{
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}
#page-read .book-info .progress-percent{
	margin-left: 10px;
	margin-top: -1px;
	float: left;
	font-size: 10px;
}
#page-read .book-info .author{
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-bottom: 5px;
}
#page-read .book-info .description{
	font-size: 12px;
	font-weight: 300;
	float: left;
}
#page-read .book-rate{
	float: left;
	width: 150px;
	height: 30px;
	padding-left: 10px;
}
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
#page-read .btn-recommend{
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
	float: left;
	margin: 0px auto auto 20px;
}
#page-read .newsfeed{
	width: 300px;
	background: white;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	height: 500px;
}

#page-read .newsfeed .feeds{
	width: 280px;
	margin: 10px 10px 10px 10px;
	min-height: 100px;
	border-radius: 5px;
	border: 2px solid #eeeeee;
	background-color: white;
}
#page-read .newsfeed .feeds .user-pic{
	float: left;
	width: 30px;
	height: 60px;
	margin: 10px 10px 10px 10px;
}
#page-read .newsfeed .feeds .user-pic .user-profile-pic{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 2px solid #eeeeee;
}
#page-read .newsfeed .feeds .user-pic p{
	text-align: center;
	margin-top: 0;
	float: left;
	width: 30px;
	font-size: 10px;
	margin-bottom: 0;
}
#page-read .newsfeed .feeds .user-pic .user-feel{
	float: left;
	width: 25px;
	height: 25px;
	margin: 5px 5px 5px 5px;
}
#page-read .newsfeed .feeds .user-text{
	float: left;
	width: 220px;
	min-height: 50px;
	max-height: 200px;
	margin: 10px 0px 10px 10px;
	overflow: hidden;
}
#page-read .newsfeed .feeds .user-text p{
	float: left;
	width:220px;
	font-size: 12px;
	font-weight: 300;
	margin: 10px 0 15px 0;
	color: #333333;
}

#page-read .blur-bg-read{
	z-index: 10;
	width: 320px;
	height: 546px;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	background: rgba(220,220,220,0.6);
}

.reading-footer-tab{
	position: relative;
	z-index: 2;
	left: 0px;
	top: -46px;
	width: 320px;
	height: 49px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	color: white;
	font-size: 15px;
	text-align: center;
	padding-left: 0px;
}
.reading-footer-tab .tab{
	float: left;
	margin-left: 5px;
	padding-top: 5px;
	width: 55px;
	height: 45px;
}


.reading-footer-tab .circle-tab{
	z-index: 13;
	margin:-20px 0px auto 5px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 2px solid rgba(255,255,255,1);
}
.reading-footer-tab .tab img{
	width: 35px;
	height: 35px;
	margin-top: 1px;
}
.reading-footer-tab .tab p{
	margin-top: 1px;
	font-size: 10px;
	font-weight: 100;
}

.reading-footer-tab .circle-tab img{
	width: 24px;
	height: 24px;
	margin-top: 10px;
}
.reading-footer-tab .circle-tab p{
	margin-top: 5px;
	font-size: 12px;
}


.message-box{
	position: absolute;
	width: 280px;
	height: 240px;
	top: 150px;
	left: 20px;
	z-index: 100;
	display: none;
	border-radius: 5px;
	background: white;
	border: 1px solid #eeeeee;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.message-box .emotion{
	float: left;
	width: 120px;
	height: 40px;
	margin: 20px 20px 10px 20px;
}
.message-box .emotion img{
	float: left;
	width: 40px;
	height: 40px;
	margin: 0px;
}
.message-box .emotion p{
	float: left;
	margin: 14px auto 0px 10px;
	font-size: 16px;
	font-weight: 400;
}
.message-box .page-no{
	float: left;
	width: 100px;
}
.message-box .page-no input{
	float: left;
	width: 50px;
	height: 30px;
	border-radius: 3px;
	background: rgb(238,238,238);
	border: 1px solid #dddddd;
	margin: 30px 10px 0 0;
	padding: 0 10px 0 10px;
}
.message-box .page-no p{
	float: left;
	margin-top: 35px;
}
.message-box textarea{
	padding: 10px 10px 10px 10px;
	width: 240px;
	height: 100px;
	margin: 10px 20px 10px 20px;
	border-radius: 3px;
	background: rgb(238,238,238);
	border: 1px solid #dddddd;
	font-size: 14px;
}
.message-box .submit-btn{
	float: right;
	margin: 10px 20px 10px 20px;
	padding: 5px 10px 5px 10px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
}
.message-box .cancel-btn{
	float: right;
	margin: 10px 20px 10px 20px;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	width: 80px;
	text-align: center;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
}


.recommend-box{
	position: absolute;
	width: 280px;
	height: 240px;
	top: 150px;
	left: 20px;
	z-index: 100;
	display: none;
	border-radius: 5px;
	background: white;
	border: 1px solid #eeeeee;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}
.recommend-box .book-pic{
	float: left;
	width: 40px;
	height: 40px;
	margin: 20px 20px 10px 20px;
}
.recommend-box .book-pic img{
	width: auto;
	height: 40px;
	margin: 0;
}
.recommend-box .book-title{
	float: left;
	width: 100px;
	height: 20px;
	font-size: 14px;
	margin: 35px 20px 0px 0px;
}
.recommend-box textarea{
	padding: 10px 10px 10px 10px;
	width: 240px;
	height: 100px;
	margin: 10px 20px 10px 20px;
	border-radius: 3px;
	background: rgb(238,238,238);
	border: 1px solid #dddddd;
	font-size: 14px;
}
.recommend-box .submit-btn{
	float: right;
	margin: 10px 20px 10px 20px;
	padding: 5px 10px 5px 10px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
}
.recommend-box .cancel-btn{
	float: right;
	margin: 10px 20px 10px 20px;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	width: 80px;
	text-align: center;
	font-family: .LucidaGrandeUI;
	font-size: 13px;
	color: #FFFFFF;
}














/*.flip {
  	-webkit-perspective: 800;
    position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: rgba(242,242,242,1);
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: rgba(242,242,242,1);
    color: black;
    cursor: pointer;
}*/


